.breadcrumbs {
	font-size: 0.9rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.breadcrumbs a {
	color: #3498db;
	text-decoration: none;
}

.breadcrumbs a:hover {
	text-decoration: underline;
}

.term-list {
	display: block;
	margin-top: 1rem;
}

.term-list__item {
	margin-bottom: 0.5rem;
}

.term-list__link {
	color: inherit; /* inherit theme text color */
	text-decoration: none;
}

.term-list__link:hover {
	text-decoration: underline;
}
